doctype html
html
	head
	body
		h2 Welcome!
		p Apparently, there are #{users.length} users on this website.
		br
		a(href='users') Show all users
		br
		a(href='users/newusers') Create new user
		br
		a(href='users/search') Search for a user 







		