html
	head
	body
		a(href='/') Home
		form(action='/users/search' method='post')
			label Firstname
			input(name='firstname')
			label Lastname
			input(name = 'lastname')
			input(type='submit' value='search user')